{% extends 'blog/base.html'%}
{% block content %}
    {% for post in posts%}
    <article class="media content-section">
        <img class='rounded-circle article-img' src='{{ post.author.profile.image.url }}'>
        <div class="media-body">
          <div class="article-metadata">
            <h4 class="mr-2" >{{ post.author }}</h4>
            <small class="text-muted">{{ post.date|date:"F d, Y"}}</small>
          </div>
          <h2><a class="article-title" href="{% url 'Blog-post_detail' post.pk %}">{{ post.title }}</a></h2>
          <p class="article-content">{{ post.content }}</p>
        </div>
      </article>
    {% endfor %}
    {% if is_paginated %}
      {% if page_obj.has_previous and page_obj.has_next %}
      <!-- Checking whether the present page, page_obj is the default name 
        used in the templates for pages, has a prev page. -->
        <a class='btn btn-outline-info mb-4' href='?page={{ page_obj.previous_page_number }}'>Previous</a>
        <a class='btn btn-outline-info mb-4' href='?page={{ page_obj.next_page_number }}'>Next</a>
      {% elif page_obj.has_next %}
        <a class='btn btn-outline-info mb-4' href='?page={{ page_obj.next_page_number }}'>Next</a>
      {% else %}
        <a class='btn btn-outline-info mb-4' href='?page={{ page_obj.previous_page_number }}'>Previous</a>
      {% endif %}
    {% endif %}
{% endblock %}